body{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font: arial;
    font-size: 20px;
}
p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
}
.links{
    color:rgb(162, 0, 255);
    font-size: 30px;
    font:bold;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.tile {
    border: 1px solid rgb(0, 0, 0);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX {
    color: #1100ff;
}

.playerO {
    color: #9500ff;
}

.coresRGB{
    margin-top: 2%;
    text-align: center;
}

button{
    padding: 15px;
}

input{
    padding: 15px;
}